/*=== ABOUT ==================================*/
/*=== Especificidade 001-009 ==DEFUN===========================*/
/*=== Especificidade 010-099 ==DEFUN===========================*/
/*=== Especificidade 100-999 ==DEFUN===========================*/
#about {
    background: var(--color-lightGray);
    display: grid;
    padding: var(--margin-page-top) var(--margin-page);
}
#about hr {
    border-color: var(--color-ashGray);
    margin-top: 4.8rem;
}
#about legend,
#about h2 {color: var(--color-primary);}

#about div h4 {
    color: var(--color-primary);
    width: max-content;
}
#about h4 ~ h5 {
    color: var(--color-secondary);
    font-weight: 700;
    width: max-content;
}
#about h5.description {color: var(--color-darkGray);}
#about section {
    display: flex;
    margin-top: 2.4rem;
}
#about section div {margin-left: 2.4rem;}
#about .foto {
    box-shadow: -1.6rem -1.6rem var(--color-secondary);
    margin-left: 1.6rem;
    margin-top: var(--margin-photo-top);
}

@media (min-width: 767px) {
    /*=== ALL ==DEFUN===============================*/
    /*=== Especificidade 001-009 ====767=======================*/
    /*=== Especificidade 010-099 ====767=======================*/
    /*=== Especificidade 100-999 ====767=======================*/
    #about {
        align-items: center;
        display: flex;
        gap: var(--margin-page);
        justify-content: space-between;
    }
    #about article {
        height: min-content;
        max-width: calc(50% - var(--margin-page) / 2);
        min-width: min-content;
    }
    #about .foto {
        box-shadow: -0.6rem -0.6rem var(--color-secondary);
        max-width: 53.5rem;
        margin-top: 1.6rem;
        margin: unset;
        max-height: 100%;
        order: -1;
    } 
    /* flex-direction: unset; */
    /* gap: initial; */
    /* position: relative; */
    /* columns: 10% 90%; */
    /* grid-template-columns: 1fr 1fr; */
    /* grid-template-rows: min-content; */
    /* grid-template-rows: 50%; */
    /* grid-auto-rows: 100%; */
    /* overflow: hidden; */
    /* width: 100%; */
    /* object-fit: cover; */
    /* #about .teste {
        display: inline-flex;
        overflow: hidden;
    } */
    /* text-overflow: clip */
    /* height: 5fr; */
    /* object-fit: cover; */
    /* height: 20rem; */
    /* inline-size: 5rem; */
    /* writing-mode: vertical-rl; */
    /* max-height: 100%; */
    /* filter: drop-shadow(-1.6rem -1.6rem var(--color-secondary)); */
    /* overflow: hidden; */
    /* box-shadow: unset; */
}
@media (min-width: 992px) {
    /*=== ALL ==DEFUN===============================*/
    /*=== Especificidade 001-009 ====992=======================*/
    /*=== Especificidade 010-099 ====992=======================*/
    /*=== Especificidade 100-999 ====992=======================*/
    #about {gap: 3.2rem;}
    #about .foto {
        filter: drop-shadow(-1.6rem -1.6rem var(--color-secondary));
        box-shadow: unset;
    }
}
@media (min-width: 1023px) {
    /*=== Especificidade 001-009 ===1023=======================*/
    /*=== Especificidade 010-099 ===1023=======================*/
    /*=== Especificidade 100-999 ===1023=======================*/
    #about {gap: unset;}
}
@media (min-width: 1200px) {
    /*=== Especificidade 001-009 ===1200=======================*/
    /*=== Especificidade 010-099 ===1200=======================*/
    /*=== Especificidade 100-999 ===1200=======================*/
    #about {gap: calc(var(--margin-page)/2);}
    #about .foto {
        height: 55rem;
        width: 53.5rem;
        object-fit: cover;
    }
}
/*=== ABOUT END ==================================*/