/*=== ABOUT ==================================*/
/*=== Especificidade 001-009 ==DEFUN===========================*/
/*=== Especificidade 010-099 ==DEFUN===========================*/
/*=== Especificidade 100-999 ==DEFUN===========================*/
#free-consultation {
    background: var(--color-primary);
    display: grid;
    padding: 7.2rem var(--margin-page);
}

@media (min-width: 767px) {
    /*=== ALL ==DEFUN===============================*/
    /*=== Especificidade 001-009 ====767=======================*/
    /*=== Especificidade 010-099 ====767=======================*/
    /*=== Especificidade 100-999 ====767=======================*/
}
@media (min-width: 992px) {
    /*=== ALL ==DEFUN===============================*/
    /*=== Especificidade 001-009 ====992=======================*/
    /*=== Especificidade 010-099 ====992=======================*/
    /*=== Especificidade 100-999 ====992=======================*/
}
@media (min-width: 1023px) {
    /*=== Especificidade 001-009 ===1023=======================*/
    /*=== Especificidade 010-099 ===1023=======================*/
    /*=== Especificidade 100-999 ===1023=======================*/
}
@media (min-width: 1200px) {
    /*=== Especificidade 001-009 ===1200=======================*/
    /*=== Especificidade 010-099 ===1200=======================*/
    /*=== Especificidade 100-999 ===1200=======================*/
#free-consultation {
    gap: calc(var(--margin-page)/2);
    grid-template-columns: 1fr 1fr;
}
}
/*=== ABOUT END ==================================*/